@import '../../styles/globals';


.not-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $light-color;
}

.not-auth-content {
  text-align: center;
  padding: 20px;
  background: $light-color;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.not-auth-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
