$primary-color: #F4511E;
$secondary-color: #f8f9fa;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$primary-text-color: #292929;
$secondary-text-color: #757474;
$link-color: #009eff;

$font-family-sans-serif: 'Inter', sans-serif;

$border-radius: 0.25rem;