@import '../../../styles/globals';

.counter_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  padding: 10px;
  background-color: #f5f5f5;
}

.counter_button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  outline: none;
}

.counter_button:focus {
  outline: 2px solid $primary-color;
}

.counter_display {
  margin: 0 20px;
  font-size: 16px;
}
