.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;

}

.bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.form_row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form_item {
  flex: 1;
}

.input {
  border-radius: 14px;
  width: 600px;
}

.row_input {
  border-radius: 14px;
  width: 92.264%;
}