.modal {
  width: 500px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.modal_order, .modal_address, .modal-total {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-bottom: 10px;
}

.modal-total {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pizza_description {
  margin-bottom: 5px;
}
