@import '../../../styles/mixins';
@import '../../../styles/fonts';

.ordersTable {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 20px;
    word-wrap: break-word;
    white-space: normal;
  }

  th {
    font-weight: normal;
    color: $secondary-text-color;
  }

  td {
    border-top: 1px solid #ddd;
  }


  th:nth-child(1),
  td:nth-child(1) {
    width: 20%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 20%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 35%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
  }

  a {
    color: $secondary-text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
