@import '../../../styles/mixins';

.ingredient_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 80px;
  height: 150px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;

  &.selected {
    border: 1px solid $primary-color;
    padding: 9px;
  }

  &__icon {
    position: absolute;
    top: 4px;
    right: 4px;
    background: none;
    font-size: 1.5rem;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
    cursor: pointer;
  }

  .ingredient_card__imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ingredient_card__image {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .ingredient_card__name {
    margin-top: 10px;
    text-align: center;
    font-size: 0.9rem;
  }

  .ingredient_card__cost {
    margin-top: auto;
    font-size: 14px;
    display: block;
    color: $secondary-text-color;
    text-align: center;
  }
}

